html
{
    background: #47423C url(../images/background_blend.png) no-repeat center top;
    padding: 0;
    margin: 0;

    font-family: 'PTSansRegular', Arial, sans-serif;
}

body
{
    padding: 0;
    margin: 0;
}

body article
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1
{
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 60px;
    text-shadow: 0 1px 1px #777;
}

h2
{
    text-shadow: 0 1px 1px #555;
}

header,
section#objective
{
    text-align: center;
}

section#objective blockquote
{
    font-style: italic;
    font-size: 20px;
}

section#objective aside
{
    margin-left: auto;
    margin-right: auto;

    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
    text-shadow: 0 1px 1px #666;

    width: 850px;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: rgba(128, 128, 128, .4);

}

.center
{
    text-align: center;
}

div.fme.right
{
    float: right;
    margin-right: 10px;
}

div.fme.left
{
    float: left;
    margin-left: 10px;
}

div.fme .banner
{
    width: 150px;
    padding: 0 5px 0 5px;
    background-color: rgb(25, 25, 25);

    color: #ccc;

    text-align: center;

    border: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    position: relative;
    z-index: 5;
}

div.fme span.button
{
    width: 35px;
    height: 45px;
    padding: 0 5px 0 5px;

    background-color: rgba(0, 0, 0, .6);

    text-align: center;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    position: relative;
    top: -35px;

    cursor: pointer;
}

div.fme span.button img
{
    margin-top: 5px;
}

div.fme span.button.left
{
    float: left;
    margin-left: 25px;
}

div.fme span.button.right
{
    float: right;
    margin-right: 25px;
}